<ion-view view-title="校园活动" hide-tabs="true">
    <ion-content class="activity bg">
        <div class="list card">
            <div class="item">
                <h2>团学联招新<span class="fr"><em>团学联</em>主办</span></h2>
                <p class="meta"><i class="ion-clock"></i> 08-29 18:00 <i class="ion-location"></i> 武东大操场</p>
            </div>
            <div class="item item-image">
                <img src="images/activity.jpg">
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-heart"></i> 感兴趣
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-star"></i> 收藏
                </a>
                <a class="tab-item" href="javascript:void(0);" ng-click="share()">
                    <i class="icon ion-share"></i> 分享
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
