<ion-view view-title="热门实习" hide-tabs="true">
    <ion-nav-buttons side="right">
        <a class="button button-clear button-lg" ng-href="#/tab/home/job/create">
            <i class="ion-ios-compose-outline"></i>
        </a>
    </ion-nav-buttons>
    <ion-content class="job" scroll="false">
        <div class="row filter">
            <div class="col"><a href="javascript:void(0);" ng-click="openIndustryModal()"><span ng-class="{'selected':filterSelected.industry}">{{filterText.industry}}</span> <i class="ion-arrow-down-b"></i></a></div>
            <div class="col"><a href="javascript:void(0);" ng-click="openLocationModal()"><span ng-class="{'selected':filterSelected.location}">{{filterText.location}}</span> <i class="ion-arrow-down-b"></i></a></div>
            <div class="col"><a href="javascript:void(0);" ng-click="openSalaryModal()"><span ng-class="{'selected':filterSelected.salary}">{{filterText.salary}}</span> <i class="ion-arrow-down-b"></i></a></div>
        </div>
        <ion-scroll style="height:100%">
            <ion-list>
                <ion-item class="item-icon-right job-item" ng-repeat="job in jobs" ng-href="#/tab/home/job/{{job._id}}">
                    <h2>{{job.position}}</h2>
                    <p>{{job.company}}</p>
                    <p><span>{{job.salary}}元/天</span> | {{job.location}} | 每周{{job.workday}}天</p>
                    <i class="icon ion-chevron-right"></i>
                </ion-item>
            </ion-list>
        </ion-scroll>
    </ion-content>
</ion-view>
<script id="industry-modal.html" type="text/ng-template">
    <ion-modal-view class="filter-modal">
        <ion-header-bar>
            <h1 class="title">行业类别</h1>
        </ion-header-bar>
        <ion-content>
            <div class="row" ng-repeat="group in industries">
                <div class="col col-25" ng-repeat='industry in group'>
                    <a href="javascript:void(0)" ng-click="selectIndustry(industry)">
                        <div class="icon-circle" ng-class="industry.color">
                            <i class="iconfont" ng-class="industry.icon"></i>
                        </div>
                        <p>{{industry.name}}</p>
                    </a>
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>
<script id="location-modal.html" type="text/ng-template">
    <ion-modal-view class="filter-modal">
        <ion-header-bar>
            <h1 class="title">地区</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item ng-repeat="location in locations">
                    <a href="javascript:void(0);" ng-click="selectLocation(location)">{{location.name}}</a>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-modal-view>
</script>
<script id="salary-modal.html" type="text/ng-template">
    <ion-modal-view class="filter-modal">
        <ion-header-bar>
            <h1 class="title">日薪</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item ng-repeat="salary in salaries">
                    <a href="javascript:void(0);" ng-click="selectSalary(salary)">{{salary.name}}</a>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-modal-view>
</script>
