<ion-view view-title="我">
    <ion-content class="account bg">
        <div class="profile">
            <div class="avatar">
                <img src="images/avatar1.jpg">
            </div>
            <h2><span><i class="iconfont icon-boy"></i>王西之</span></h2>
            <p>12级 信息管理与信息系统</p>
        </div>
        <ion-list>
            <div class="padder"></div>
            <ion-item class="item-icon-left" ng-click="goToView()"><i class="icon iconfont icon-timetable"></i> 我的课表</ion-item>
            <ion-item class="item-icon-left"><i class="icon iconfont icon-score"></i> 我的成绩</ion-item>
            <ion-item class="item-icon-left"><i class="icon iconfont icon-exam"></i> 我的考试</ion-item>
        </ion-list>
        <ion-list>
            <div class="padder"></div>
            <ion-item class="item-icon-left"><i class="icon ion-paper-airplane"></i> 我的发布</ion-item>
            <ion-item class="item-icon-left"><i class="icon iconfont icon-favorite"></i> 我的收藏</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
