<ion-view view-title="Wesufe">
    <ion-nav-title>
      <span class='main-logo-title'>WeSufe</span>
    </ion-nav-title>
    <ion-content has-bouncing="false">
        <ul class="navigation">
            <li class="nav-item">
                <a href="#/tab/home/timetable">
                    <div class="wrap">
                        <i class="iconfont icon-timetable"></i>
                        <p>课表</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#/tab/home/gpa/current">
                    <div class="wrap">
                        <i class="iconfont icon-score"></i>
                        <p>成绩</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#/tab/home/exam">
                    <div class="wrap">
                        <i class="iconfont icon-exam"></i>
                        <p>考试</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#/tab/home/library/search">
                    <div class="wrap">
                        <i class="iconfont icon-book"></i>
                        <p>图书馆</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#/tab/home/news">
                    <div class="wrap">
                        <i class="iconfont icon-news"></i>
                        <p>新闻</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#/tab/home/activity">
                    <div class="wrap">
                        <i class="iconfont icon-activity"></i>
                        <p>活动</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#/tab/home/lecture">
                    <div class="wrap">
                        <i class="iconfont icon-lecture"></i>
                        <p>讲座</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#/tab/home/job">
                    <div class="wrap">
                        <i class="iconfont icon-intern"></i>
                        <p>实习</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#/tab/home/electric/selectDorm">
                    <div class="wrap">
                        <i class="iconfont icon-electricity"></i>
                        <p>电费</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#/tab/home/building/select">
                    <div class="wrap">
                        <i class="iconfont icon-building"></i>
                        <p>自习</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#/tab/home/calendar">
                    <div class="wrap">
                        <i class="iconfont icon-schedule"></i>
                        <p>校历</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#">
                    <div class="wrap">
                        <i class="iconfont icon-heart"></i>
                        <p>表白</p>
                    </div>
                </a>
            </li>
            <li class="clearfix"></li>
        </ul>
    </ion-content>
</ion-view>
