<ion-view view-title="我的课表" hide-tabs="true">
    <ion-content class="timetable">
        <ion-list>
            <ion-item class="item-divider item-calm">
                星期一
                <div class="badge badge-light">2</div>
            </ion-item>
            <ion-item class="timetable-item">
                <h2>西方经济学</h2>
                <p>08:00-09:40 <em>三教215</em></p>
            </ion-item>
            <ion-item class="timetable-item">
                <h2>军事理论</h2>
                <p>10:05-11:45 <em>国定路梯三</em></p>
            </ion-item>
            <ion-item class="item-divider item-calm">
                星期二
                <div class="badge badge-light">4</div>
            </ion-item>
            <ion-item class="timetable-item">
                <h2>西方经济学</h2>
                <p>08:00-09:40 <em>三教215</em></p>
            </ion-item>
            <ion-item class="timetable-item on">
                <h2>军事理论</h2>
                <p>10:05-11:45 <em>国定路梯三</em></p>
            </ion-item>
            <ion-item class="timetable-item">
                <h2>西方经济学</h2>
                <p>08:00-09:40 <em>三教215</em></p>
            </ion-item>
            <ion-item class="timetable-item">
                <h2>军事理论</h2>
                <p>10:05-11:45 <em>国定路梯三</em></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
